
@import "color-variables";



#authentication-sign-up-container {
  display: none;
  width: 500px;
  margin: 300px auto auto;

  #authentication-sign-up-title {
    font-size: 40px;
    text-align: center;
  }


  #authentication-sign-up-name-inputs {
    width: 300px;
    margin: auto;
    height: 80px;


    .input-group-small {
      float: left;
      margin-top: 25px;

      &:nth-child(2) {
        margin-left: 20px;
      }


      #authentication-sign-up-first-name-input {
        width: 140px;
        height: 40px;
        padding-left: 10px;
      }


      #authentication-sign-up-last-name-input {
        width: 140px;
        height: 40px;
        padding-left: 10px;
      }

    }


  }




  .input-group {
    width: 300px;
    margin: 25px auto auto;

    #authentication-sign-up-email-input {
      padding-left: 10px;
      width: 300px;
      height: 40px;
    }


    #authentication-sign-up-password-input {
      padding-left: 10px;
      width: 300px;
      height: 40px;
    }


    #authentication-sign-up-language-select {
      padding-left: 10px;
      width: 300px;
      height: 40px;
    }


  }


  #authentication-sign-up-btn {
    width: 300px;
    height: 50px;
    margin: 20px auto auto;
    display: block;
  }


  #authentication-sign-up-back-to-log-in {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }



}

