

$primary-color: #f3f3f3;
$secondary-color: #F3F2FC;

$tertiary-color: #d6e3eb;
$quaternary-color: #B2B0C4;

$quinary-color: #FFFFFF;
$senary-color: #F6F6F8;
$septenary-color: #8dacff;
$octonary-color: #FFFFFF;
$nonary-color: #FFFFFF;
$denary-color: #CCCCCC;



/** Text Colors */

$text-primary-color: #242246;
$text-secondary-color: #605E77;
$text-tertiary-color: #6A7187;
$text-quaternary-color: #80879B;
$text-quinary-color: #A6A9B4;
$text-senary-color: #242246;
$text-septenary-color: #9da1a6;
$text-octonary-color: #3c444e;