

#menu-container {
  float: left;
  width: 300px;
  height: 100%;
  background-color: red;
}


#content-container {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  background-color: green;
}