

#objects-view-container {
  margin: 50px;


  #objects-title {
    font-size: 20px;
    margin-bottom: 25px;
  }


  #objects-view-modal-background {
    background-color: rgba(255, 255, 255, 0.5);;
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
  }


  #objects-object-create-modal-container {
    display: table;
    margin: auto;
  }


}